/* Mulish Font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
/* shared style */
.orange-color {
    color: #FF5400;
}
.text-gray {
    color: #424247;
}
.text-white {
    color: #FFF;
}
.heading-tag {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.6rem;
}
.bg-orange {
    border-radius: 8px;
    background-color: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    width: 10.80rem;
    height: 3.25rem;
}
/* navbar style start */
.nav-container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    margin: 0 auto;
    display: flex;
    background-color: #FFF
}
.img-container {
    width: 50%;
    /* border: 1px solid red; */
    min-height: 20px;
    display: flex;
    align-items: center;
}
.img-container img {
    width: 3rem;
    height: 3.4rem;
    object-fit: cover;
}
.nav-link {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-link li {
    list-style: none;
}
.nav-link a {
    text-decoration: none;
}
.responsive-bar{
    display: none;
}
/* banner srction start */
main {
    margin: 0 auto;
    padding: 20px 20px;
    /* margin: 50px 50px; */
    /* border: 1px solid red; */
}
.banner-img {
    border-radius: 10px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/banner.png");
    min-height: 100vh;
    width: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-text {
    margin: 0 auto;
    /* border: 1px solid red; */
    text-align: center;
}
.banner-text h1 {
    font-size: 4rem;
    text-align: center;
    padding: 30px;
    font-weight: 800;
    padding-top: 22%;
}
.search-menu {
    margin-top: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    /* border: 1px solid red; */
}
.search-menu .text-description {
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    color: rgba(19, 19, 24, 0.50);
    /* border: 1px solid blue; */
}
#btn-orange {
    background-color: #FF5400;
    color: #FFFFFF;
    font-weight: 700;
}
/* Our Popular Tours style   */
.popular-tours {
    display: flex;
    margin: 2rem 2rem;
    padding: 2% 2%;
    gap: 3rem;
    line-height: 2rem;
}
.container-text {
    width: 100%;
    color: rgba(19, 19, 24, 0.70);
    margin: 1rem;
    /* border:1px solid red; */
}
.container-text h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.container-text li {
    padding: 2rem auto;
}
.text-p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.popular-img img {
    height: 34rem;
    width: 33.75rem;
    /* border: 1px solid red; */
}
/* destination section */
.destination-section {
    margin: 2rem 2rem;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}
.destination-section p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    line-height: 1.6rem;
    padding: 1rem;
}
.destination-img {
    position: relative;
}
 .destination-img img {
    height: 100%;
    width: 100%;
}
.destination-text{
    position: absolute;
    color: white;
    font-size: 35px;
    font-weight: 700;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10;
}
.destination-text p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.row {
    height: 250px;
    display: flex;
    gap: 1.4rem;
    margin: 1.4rem 1.4rem;
    justify-content: center;
}
/* why Choose us style*/
.why-Choose-container {
    margin: auto;
    padding: 2rem;
    gap: 2rem;
    width: 90%;
}
.heading-tag {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text-gray {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.container .sub-container {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 30px;
   justify-content: center
}
.sub-container-two {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 30px; 
}
.box-3{
    margin: auto;
    width: 50%;
    padding: 0rem;
    height: 17.75rem;
    /* border: 1px solid red; */
    border-radius: 16px;
}
.box-1,
.box-2 {
    padding: 0rem;
    height: 17.75rem;
    /* border: 1px solid red; */
    border-radius: 16px;
}
#color-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
#color-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    /* border: 1px dotted red; */
}
#color-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    /* border: 1px dotted red; */
}
/* deal seaction */
.deals-margin-space {
    margin-top: 25px;
}
.Deals-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Deals-banner {
    border-radius: 10px;
    background-image: url("../images/Group\ 39.png");
    min-height: 100vh;
    width: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.deals-main-text {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.774);
    width: 55%;
    height: 400px;
    padding: 180px;
    border-radius: 10px;
    float: right;
    margin: 75px 40px;
}
.deals-section-main-text {
    text-align: center;
    margin-bottom: 20px;
}
.deals-section-main-text h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.deals-section-main-text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.deals-flex-text {
    display: flex;
    align-items: center;
}

.deals-flex-text p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.deals-text {
    margin-top: 20px;
}

.deals-text h2 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deals-text p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0;
}

.deals-text h4 {
    color: #FF5400;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deals-text button {
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 25px;
    color: white;
    border: 0;
    margin-top: 30px;
}

/* banner-2 */

.Deals-banner-two {
    border-radius: 10px;
    background-image: url("../images/Group\ 40.png");
    min-height: 100vh;
    width: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.deals-main-text-two {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.774);
    width: 55%;
    height: 400px;
    padding: 180px;
    border-radius: 10px;
    float: left;
    margin: 75px 40px;
}

/* banner-3 */
.Deals-banner-three {
    border-radius: 10px;
    background-image: url("../images/Group\ 39.png");
    min-height: 100vh;
    width: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* simple-place-section */
.simple-place-section {
    margin-top: 150px;
}

.simple-place-flex {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.simple-place-text h2 {
    color: #131318;

    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}
.simple-place-text p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.simple-place-text li {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding: 12px 0;
}

.simple-place-text button {
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 25px;
    color: white;
    border: 0;

}

.simple-place-picture img {
    width: 610px;
    height: 424px;
}

/* news lettter main-Section */
.newsLetter-main-section {
    margin-top: 100px;
}

.news-main-flex {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;

}

.news-text {
    width: 45%;
    height: 420px;
    padding: 25px;
    border: 1px solid #FF5400;
    border-radius: 10px;
}

.input-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 66px;
}

.input-section input {
    margin-top: 16px;
    width: 393px;
    height: 52px;
    border: 0;
    background-color: rgb(240, 240, 240);
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
}

.news-btn {
    margin-top: 20px;
    border-radius: 8px;
    background: #FF5400;
    width: 393px;
    height: 52px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    border: 0;
}

.news-picture img{    
    height: 420px;
    width: 100%; 
    

}
.news-relative{
    position: relative;
}
.toodos{
    background-color: #FF5400;
    color: white;
    text-align: center;
    position: absolute;
    padding: 8px;
    border-radius: 10px;
    bottom: 4rem;
    right: 0;
    transform: rotate(-45deg);
}
.toodos p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.toodos h5{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}

/* footer  */

footer{
    background-color: rgb(240, 240, 240);
    padding: 50px;
    margin: 80px 0 0 0;
    text-align: center;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer p{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.linked_icons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.fa-brands{
    font-size: 25px;
    border-radius: 50%;
    width: 50px;
    padding: 10px;
    border: #FF5400 2px solid;
    color: #070211;
}

footer hr{
    margin-top: 20px;
} 

.rights{
    margin-top: 10px;
}